{
    "name": "Base16 {{scheme-name}}",
    "background": "#{{base00-hex}}",    // base00
    "foreground": "#{{base05-hex}}",    // base05
    "black": "#{{base00-hex}}",         // base00
    "red": "#{{base08-hex}}",           // base08
    "green": "#{{base0B-hex}}",         // base0B
    //"yellow": "#{{base09-hex}}",        // base09
    "yellow": "#{{base0A-hex}}",        // base0A
    "blue": "#{{base0D-hex}}",          // base0D
    "purple": "#{{base0E-hex}}",        // base0E
    "cyan": "#{{base0C-hex}}",          // base0C
    "white": "#{{base05-hex}}",         // base05
    "brightBlack": "#{{base03-hex}}",   // base03
    //"brightRed": "#{{base04-hex}}",     // base04
    "brightRed": "#{{base08-hex}}",     // base08
    //"brightGreen": "#{{base02-hex}}",   // base02
    "brightGreen": "#{{base0B-hex}}",   // base0B
    //"brightYellow": "#{{base06-hex}}",  // base06
    "brightYellow": "#{{base0A-hex}}",  // base0A
    //"brightBlue": "#{{base01-hex}}",    // base01
    "brightBlue": "#{{base0D-hex}}",    // base0D
    //"brightPurple": "#{{base05-hex}}",  // base05
    "brightPurple": "#{{base0E-hex}}",  // base0E
    //"brightCyan": "#{{base03-hex}}",    // base03
    "brightCyan": "#{{base0C-hex}}",    // base0C
    "brightWhite": "#{{base07-hex}}"    // base07
}
