{
    "name": "Base16 {{scheme-name}}",
    "background": "#{{base00-hex}}",    // base00
    "foreground": "#{{base05-hex}}",    // base05
    "black": "#{{base00-hex}}",         // base00
    "red": "#{{base08-hex}}",           // base08
    "green": "#{{base0B-hex}}",         // base0B
    "yellow": "#{{base0A-hex}}",        // base0A
    "blue": "#{{base0D-hex}}",          // base0D
    "purple": "#{{base0E-hex}}",        // base0E
    "cyan": "#{{base0C-hex}}",          // base0C
    "white": "#{{base05-hex}}",         // base05
    "brightBlack": "#{{base03-hex}}",   // base03
    "brightRed": "#{{base08-hex}}",     // base08
    "brightGreen": "#{{base0B-hex}}",   // base0B
    "brightYellow": "#{{base0A-hex}}",  // base0A
    "brightBlue": "#{{base0D-hex}}",    // base0D
    "brightPurple": "#{{base0E-hex}}",  // base0E
    "brightCyan": "#{{base0C-hex}}",    // base0C
    "brightWhite": "#{{base07-hex}}"    // base07
}
